# Bayes Classification
### Kirill Zakharov

In [51]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('golf_binary.csv')

In [4]:
data.head()

    Outlook Temperature Humidity    Wind Play Golf
0     Rainy         Hot     High    Weak        No
1     Rainy         Hot     High  Strong        No
2  Overcast         Hot     High    Weak       Yes
3     Sunny        Mild     High    Weak       Yes
4     Sunny        Cool   Normal    Weak       Yes

In [14]:
data = pd.get_dummies(data)
data.head()

,Humidity,Wind,Play Golf,Outlook_Overcast,Outlook_Rainy,Outlook_Sunny,Temperature_Cool,Temperature_Hot,Temperature_Mild
0,1,1,0,0,1,0,0,1,0
1,1,0,0,0,1,0,0,1,0
2,1,1,1,1,0,0,0,1,0
3,1,1,1,0,0,1,0,0,1
4,0,1,1,0,0,1,1,0,0

In [83]:
def bayesC(data, variables):
    y = data['Play Golf']
    prob_y0 = (len(y) - y.sum())/len(y)
    
    X0 = data[data['Play Golf'] == 0].drop('Play Golf', axis=1)
    X1 = data[data['Play Golf'] == 1].drop('Play Golf', axis=1)
    
    prob_array = []

    for i in range(len(variables)):
        l = len(X0)
        if variables[i] == 1:
            prob_array.append(X0.iloc[:, i].sum() / l)

        else:
            prob_array.append((l - X0.iloc[:, i].sum()) / l)
            
    prob_array2 = []

    for i in range(len(variables)):
        l = len(X1)
        if variables[i] == 1:
            prob_array2.append(X1.iloc[:, i].sum() / l)

        else:
            prob_array2.append((l - X1.iloc[:, i].sum()) / l)
            
    d = prob_y0 * np.prod(prob_array) + (1 - prob_y0) * np.prod(prob_array2)
    
    return prob_y0 * np.prod(prob_array) / d

In [84]:
variables = [1, 1, 0, 0, 1, 0, 0, 1]

In [85]:
bayesC(data, variables)

0.4254201552965963

In [93]:
bayesC(data, [0, 1, 0, 1, 0, 1, 0, 0])

0.17941985752928147

In [94]:
bayesC(data, [0, 1, 0, 1, 0, 0, 1, 1])

0.4595487361655288