In [14]:
from sklearn.cluster import KMeans
import pandas as pd
import numpy as np

In [15]:
model = KMeans(n_clusters=3, init=np.array([[10.33, 8.5], [10.0, 7.0], [12.57, 12.14]]), max_iter=100, n_init=1)

In [16]:
data = pd.read_csv('Data/cluster_data.csv')

In [17]:
data

    Object   X   Y  Cluster
0        1  12  11        0
1        2   5  12        1
2        3  14  15        2
3        4   3   3        0
4        5   9   1        2
5        6  11  11        0
6        7  15   2        1
7        8   6   4        0
8        9  17  11        0
9       10  13  11        0
10      11  18  11        2
11      12   9  15        2
12      13  15  20        2
13      14   9  18        2
14      15  14   5        2

In [18]:
model.fit(data[['X', 'Y']])

KMeans(algorithm='auto', copy_x=True,
       init=array([[10.33,  8.5 ],
       [10.  ,  7.  ],
       [12.57, 12.14]]),
       max_iter=100, n_clusters=3, n_init=1, n_jobs=None,
       precompute_distances='auto', random_state=None, tol=0.0001, verbose=0)

In [19]:
model.labels_

array([2, 0, 2, 1, 1, 2, 1, 1, 2, 2, 2, 2, 2, 2, 1], dtype=int32)

In [20]:
model.cluster_centers_

array([[ 5.        , 12.        ],
       [ 9.4       ,  3.        ],
       [13.11111111, 13.66666667]])

In [21]:
data['cluster'] = model.labels_

In [22]:
data

    Object   X   Y  Cluster  cluster
0        1  12  11        0        2
1        2   5  12        1        0
2        3  14  15        2        2
3        4   3   3        0        1
4        5   9   1        2        1
5        6  11  11        0        2
6        7  15   2        1        1
7        8   6   4        0        1
8        9  17  11        0        2
9       10  13  11        0        2
10      11  18  11        2        2
11      12   9  15        2        2
12      13  15  20        2        2
13      14   9  18        2        2
14      15  14   5        2        1

In [23]:
data = data.loc[data['cluster']==0]

In [24]:
data

   Object  X   Y  Cluster  cluster
1       2  5  12        1        0

In [25]:
data['X'] = (data['X']- 5)**2
data['Y'] = (data['Y']- 12)**2

<ipython-input-25-b7affecc1fef>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['X'] = (data['X']- 5)**2
<ipython-input-25-b7affecc1fef>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Y'] = (data['Y']- 12)**2

In [26]:
np.mean((data['X'].values + data['Y'].values)**(0.5))

0.0

In [8]:
a = np.array([1,2])
b = np.array([0,3])
c = np.array([-1,1])
d = np.array([0,-4])
e = np.array([4,-2])

Intra-cluster distance

In [6]:
(sum((a - b)**2)**(0.5) + sum((c - b)**2)**(0.5) + sum((c - a)**2)**(0.5))*2

11.772699034745349

Average intra-cluster distance

In [7]:
(sum((a - b)**2)**(0.5) + sum((c - b)**2)**(0.5) + sum((c - a)**2)**(0.5))*2/3

3.924233011581783

In [18]:
x = (a+b+c)/3
y = (d+e)/2

Centroid-based method

In [19]:
sum((x - y)**2)**(0.5)

5.385164807134504

Complete-linkage method

In [11]:
max(sum((a - d)**2)**(0.5), 
    sum((a - e)**2)**(0.5), 
    sum((b - d)**2)**(0.5), 
    sum((b - e)**2)**(0.5), 
    sum((c - d)**2)**(0.5), 
    sum((c - e)**2)**(0.5))

7.0

Single-linkage method

In [12]:
min(sum((a - d)**2)**(0.5), 
    sum((a - e)**2)**(0.5), 
    sum((b - d)**2)**(0.5), 
    sum((b - e)**2)**(0.5), 
    sum((c - d)**2)**(0.5), 
    sum((c - e)**2)**(0.5))

5.0

Avarage-linkage method

In [20]:
np.mean([sum((a - d)**2)**(0.5), sum((a - e)**2)**(0.5), sum((b - d)**2)**(0.5), 
    sum((b - e)**2)**(0.5), sum((c - d)**2)**(0.5), sum((c - e)**2)**(0.5)])

5.902643029361525