# Lecture 1
### Kirill Zakahrov

In [2]:
import pandas as pd
import numpy as np

In [22]:
df = pd.read_csv('Data/ROSSTAT_SALARY_RU_2019_normalized.csv')

In [27]:
df

              REGION_NAME  SALARY
0          Алтайский край   25960
1        Амурская область   43156
2   Архангельская область   47526
3    Астраханская область   32166
4    Белгородская область   31163
..                    ...     ...
80   Чеченская Республика   26108
81   Чувашская Республика   27028
82           Чукотский АО   96930
83      Ямало-Ненецкий АО   86560
84    Ярославская область   33882

[85 rows x 2 columns]

In [24]:
import chardet

with open('Data/ROSSTAT_SALARY_RU_2019_normalized.csv', 'rb') as f:
    enc = chardet.detect(f.read())

In [25]:
enc['encoding']

'utf-8'

In [36]:
df.index = df.REGION_NAME

In [47]:
df = df.drop(['Республика Башкортостан', 'Ханты-Мансийский АО (Югра)', 'Оренбургская область'], axis=0)

In [48]:
df

                                 REGION_NAME  SALARY
REGION_NAME
Алтайский край                Алтайский край   25960
Амурская область            Амурская область   43156
Архангельская область  Архангельская область   47526
Астраханская область    Астраханская область   32166
Белгородская область    Белгородская область   31163
...                                      ...     ...
Чеченская Республика    Чеченская Республика   26108
Чувашская Республика    Чувашская Республика   27028
Чукотский АО                    Чукотский АО   96930
Ямало-Ненецкий АО          Ямало-Ненецкий АО   86560
Ярославская область      Ярославская область   33882

[82 rows x 2 columns]

In [52]:
df_sorted = df.sort_values(by='SALARY', ascending=True)
df_sorted

                                                     REGION_NAME  SALARY
REGION_NAME
Республика Дагестан                          Республика Дагестан   24550
Кабардино-Балкарская Республика  Кабардино-Балкарская Республика   25318
Республика Ингушетия                        Республика Ингушетия   25663
Карачаево-Черкесская Республика  Карачаево-Черкесская Республика   25699
Республика Калмыкия                          Республика Калмыкия   25719
...                                                          ...     ...
Ненецкий АО                                          Ненецкий АО   77277
г. Москва                                              г. Москва   78946
Ямало-Ненецкий АО                              Ямало-Ненецкий АО   86560
Чукотский АО                                        Чукотский АО   96930
Магаданская обл.                                Магаданская обл.  101662

[82 rows x 2 columns]

In [61]:
df_sorted.SALARY[47-1]

34809

In [62]:
df_sorted.SALARY.mean()

38720.96341463415

In [64]:
df_sorted.SALARY.median()

32723.0